*.o
*.lo
*.swp
faad2/
mp4v2/

Makefile
Makefile.in
aacgain/.deps/
aacgain/Makefile
aacgain/Makefile.in
aacgain/aacgain
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
mp3gain/.deps/
mp3gain/.libs/
mp3gain/Makefile
mp3gain/Makefile.in
mp3gain/libmp3gain.la
mp3gain/mpglibDBL/.deps/
mp3gain/mpglibDBL/.libs/
mp3gain/mpglibDBL/Makefile
mp3gain/mpglibDBL/Makefile.in
mp3gain/mpglibDBL/config.h
mp3gain/mpglibDBL/config.h.in
mp3gain/mpglibDBL/libmpglib.la
mp3gain/mpglibDBL/stamp-h1
